
.fhd_container{
    width: 100%;
    max-width: 1920px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.hd_container{
    width: 100%;
    max-width: calc(1366px + 4*#{$gutter}); 
    
    margin: 0 auto;
    @media (min-width: 1200px){
        padding: 0 $gutter;
    }

    .no_padding{
        padding-left: 0;
        padding-right: 0;
    }

    .col_1{
        width: 8.33%;
        padding: 0 $gutter;
    }
    .col_2{
        width: 16.66%;
        padding: 0 $gutter;
    }
    .col_3{
        width: 25%;
        padding: 0 $gutter;
    }
    .col_4{
        width: 33.33%;
        padding: 0 $gutter;
    }
    .col_5{
        width: 41.66%;
        padding: 0 $gutter;
    }
    .col_6{
        width: 50%;
        padding: 0 $gutter;
    }
    .col_7{
        width: 58.33%;
        padding: 0 $gutter;
    }
    .col_8{
        width: 66.66%;
        padding: 0 $gutter;
    }
    .col_9{
        width: 75%;
        padding: 0 $gutter;
    }
    .col_10 {
        width: 83.33%;
        padding: 0 $gutter;
    }
    .col_11 {
        width: 91.66%;
        padding: 0 $gutter;
    }
    .col_11 {
        width: 100%;
        padding: 0 $gutter;
    }
    .hd_container_inner{
        @media(min-width: 768px){
            // padding: 0 $gutter;
        }
    }
}

.grid_layer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    pointer-events: none;

    @media(max-width: 1024px){
        display: none;
    }

    *{
        box-sizing: border-box !important;
    }

    &[grid-visibility="0"]{
        .fhd_container{
            opacity: 0;
        }
    }
    &[grid-visibility="1"]{
        .fhd_container{
            opacity: .1;
        }
    }
    &[grid-visibility="2"]{
        .fhd_container{
            opacity: .3;
        }
    }

    #toggle_opacity{
        position: fixed;
        bottom: 50px;
        right: 15px;
        width: 50px;
        height: 50px;
        background: #004C00;
        color: #fff;
        font-size: 30px;
        z-index: 9999;
        border: none;
        border-radius: 50%;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
        line-height: 50px;
        text-align: center;
        opacity: .5;
        cursor: pointer;
        pointer-events: all;
        transition: .5 ease all;

        &:hover{
            opacity: 1;
        }

        &:focus{
            outline: none;
        }

    }

    .fhd_container{
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
    }

    .fhd_container{
        height: 100%;
        opacity: 0;
        transition: .3s ease all;

        .hd_container{
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            flex-wrap: nowrap;

            .col{
                width: calc(1/12*100%);
                padding: 0 $gutter;
                height: 100%;
                outline: 1px solid #004C00;

                .col_inner{
                    height: 100%;
                    width: 100%;
                    background: #004C00;
                }

            }
        }
    }
}



.grid_experimental{
    margin: 30px auto;

    .fhd_container{
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
    }

    .hd_container{
        width: 100%;
        max-width: 1368px;
        padding: 0 $gutter;
        margin: 0 auto;
    }

    .fhd_container{
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: nowrap;
        position: relative;

        .content_bg{
            width: 40%;
            background: green;
        }

        .img_wrapper{
            width: 60%;
            img{
                max-width: 100%;
            }
        }

        .hd_container{
            position: absolute;
            left: 0;
            right: 0;
            height: 100%;

            .content_wrapper{
                height: 100%;
                width: calc(4/12*100%);

                font-size: 34px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
    }

}

.grid_full_hd_JS{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .left ,.right{
        flex-basis: 100%;
        max-width: 100%;
        padding: 0 1rem;
        @media screen and (min-width: 992px){
            padding: 0px;
            flex-basis: 50%;
            max-width: 50%;
        }
    }
}
